这里的数据集 car_X.csv 的都是病态数据集，pre_的是病态+FedCan的处理

In [52]:
import pandas as pd

df=pd.read_csv("/home/raoxy/data/Car_Hacking_100.csv")
numeric_features=['DATA[0]', 'DATA[1]', 'DATA[2]', 'DATA[3]', 'DATA[4]', 'DATA[5]', 'DATA[6]', 'DATA[7]']

# 定义替换规则，将字符串映射为数字
replacement_dict = {
    'R': 0,
    'RPM': 1,
    'gear': 2,
    'DoS': 3,
    'Fuzzy': 4
}

# 使用 .replace() 方法替换最后一列的值
df['Label'] = df['Label'].replace(replacement_dict)
df.Label.value_counts()

0    11392949
1      654897
2      597252
3      587521
4      491847
Name: Label, dtype: int64

In [53]:
def shuffle_dataframe(df):
    # 打乱DataFrame的行
    shuffled_df = df.sample(frac=1).reset_index(drop=True)
    return shuffled_df
df=shuffle_dataframe(df).iloc[:, 1:]

In [54]:
import pandas as pd
from math import ceil

overlap=2
num_splits=15
split_size = ceil(len(df) / num_splits)
split_dfs = []
split_size

914965

In [55]:
for i in range(num_splits):
    start_idx = i * split_size
    end_idx = start_idx + split_size

    if i > 0:
        start_idx = max(0, start_idx - overlap)
    end_idx = min(len(df), end_idx)

    split_dfs.append(df.iloc[start_idx:end_idx])
    split_dfs[i].to_csv(f'car_{i+1}.csv', index=False)

In [119]:
import pandas as pd

name="car_9.csv"
df=pd.read_csv(name)
df.Label.value_counts()

0    759582
2     39806
4     32979
Name: Label, dtype: int64

In [116]:
# 过滤掉标签列值为“gear”的行
df_filtered = df[df["Label"] !=1]
df_filtered

,DATA[0],DATA[1],DATA[2],DATA[3],DATA[4],DATA[5],DATA[6],DATA[7],Label
0,247,127,0,0,26,127,2,33,0
1,255,0,0,0,255,125,9,0,0
2,25,35,35,48,8,142,124,23,0
3,64,0,151,29,151,2,189,0,0
4,5,32,68,104,121,0,0,112,0
...,...,...,...,...,...,...,...,...,...
875883,1,69,96,255,107,0,0,0,2
875884,1,69,96,255,107,0,0,0,2
875885,254,80,0,0,0,60,0,0,0
875886,0,0,0,0,0,0,2,48,0
875887,216,85,0,140,0,0,0,0,0

In [117]:
df_filtered.Label.value_counts()

0    759582
2     39806
4     32979
Name: Label, dtype: int64

In [118]:
df_filtered.to_csv(name, index=False)